/*      =====================

        AJSTD STYLESHEET   	
        v1.0; 21 August 2018   
        Joaquim Baeta; GPL v3

        =====================      */

/*      TABLE OF CONTENTS

        1.......Typography
        2.......Global
        2.1.....Body
        2.2.....Header
        2.3.....Footer
        3.......Styling
        4.......Page-specific
        4.1.....Homepage
        4.1.1...Homepage issue
        4.1.2...Article summary    */



/* 1. Typography */

@import url('https://fonts.googleapis.com/css?family=Lora:400,400i');

h1, h2, h3, h4, h5, h6 {
    color: #610c3a;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
}

a {
    color: #610c3a;
}

.navbar-logo a {
    border-bottom: 0px solid #610c3a4d;
    transition: cubic-bezier(.68,-0.55,.27,1.55) 0.35s;
}

.navbar-logo a:hover {
    border-bottom: 10px solid #610c3a4d;
}

.article-summary-title a {
    color: #141111;
    border-bottom: 0px solid #610c3a4d;
    transition: cubic-bezier(.68,-0.55,.27,1.55) 0.35s;
}

.article-summary-title a:hover {
    border-bottom: 3px solid #610c3a4d;
}

.article-details-issue-identifier a {
    border-bottom: 0px solid #610c3a4d;
    transition: cubic-bezier(.68,-0.55,.27,1.55) 0.35s;
}

.article-details-issue-identifier a:hover, .article-details-issue-identifier a:focus {
    text-decoration: none;
    border-bottom: 3px solid #610c3a4d;
}

.article-details-doi a {
    border-bottom: 0px solid #610c3a4d;
    transition: cubic-bezier(.68,-0.55,.27,1.55) 0.35s;
}

.article-details-doi a:hover, .article-details-doi a:focus {
    text-decoration: none;
    border-bottom: 3px solid #610c3a4d;
}

/* 2. Global */

/* 2.1 Body */

body {
    color: #141111;
    background-color: #fcfcfc;
}

/* 2.2 Header */

.navbar-logo {
    max-width: 80%;
    padding-top: 2.5rem;
}

.navbar-logo img {
    width: 100%;
}

/* 2.3 Footer */

#customblock-prefooter {
    width: 100%;
    padding: 0;
}

.site-footer {
    background: #141111;
    color: #fcfcfc;
    padding-bottom: 0;
}

.site-footer a {
    color: #f9f9f9;
    text-decoration: none;
}

.site-footer a:hover {
    color: #b9b9b9;
    text-decoration: none;
}

.footer-brand-image {
    vertical-align: top;
    max-width: 80px;
}

/* 3. Styling */

.btn.btn {
    font-size: 1rem;
    border-radius: 20px 40px 40px 20px;
}

.btn-primary {
    color: #fcfcfc;
}

.btn-primary:hover, .btn-primary:focus {
    background: #141111;
    border-color: #141111;
    color: #fcfcfc;
}

/* 4. Page-specific */

/* 4.1 Homepage */

/* 4.1.1 Homepage issue */

.homepage-issue-current {
	font-family: 'Fira Sans', sans-serif;
	font-size: 2rem;
	font-weight: 300;
	text-transform: uppercase;
}

.homepage-issue-cover {
    max-width: 210px;
    max-height: 297px;
}

.homepage-issue-identifier {
	display: none;
}

.homepage-issue-published {
    margin-top: 1.5rem !important;
}

.homepage-issue-description-more > a {
    padding: .5em 1em;
    border-radius: 0;
    border: 1px solid #757575;
    background: transparent;   
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	line-height: 1.5;
	color: #333;
	font-size: 1rem;
	font-weight: 300;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* 4.1.2 Article summary */

@media (min-width: 992px) {
	.article-summary-pages {
		width: 56px;
	}
}

.article-summary-title {
	font-family: 'Lora', serif;
	font-style: italic;
}



